<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link href="@{/styles/aboutUs.css}" rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <ul>
                <div>
                    <li><a th:href="@{main}" class="SmartFit">SmartFit</a></li>
                </div>
            </ul>
        </nav>
    </header>
    <div class="hero">
        <div class="overlay"></div>
        <div class="login-container">
            <div style="text-align: left;">
                <h1>ABOUT US</h1>
                <p>난 처음부터 탈도 말도 많았지 사람들의 관심과 손가락질 힙합인지 아님 팝인지 아님 락인지 아님 알앤비 안 들리는 척하고 걸었지 안 흔들리는 척하고 뱉었지 한마디 마다 삼백 번씩
                    그렇게 완성한 첫 번째 Bucket List 하이어뮤직 고삐리에서 하이어 매출 일위 참가자에서 앨범 피처링 섭외 일 순위 재범이 형도 몰랐을 거야 어떻게 이런 일이 일희일비하지
                    않아 라임 박아 fxxk fill in 나만큼 한 새x 있음 나와보라 그래 나만큼 번 새x 있음 자랑하라 그래 내가 지고는 못 사는 성격이라 치고받고 뺏고 뺏기고 또 뱉는 게 내
                    직업이야 미안 비즈니스가 없어도 가족은 있지 가족이 없어져도 낭만을 믿지 Coachella에서 Rolling Loud에서 다시 볼 때까지 난 내 자리에서 Still, keep on
                    ball 지켜 내 role Kid Milli BIG Naughty Tape dropin' soon fasho</p>
            </div>
            <button type="submit">join us, it's your turn!</button>
        </div>
    </div>
</body>

</html>